*{
  margin:0;
}


.dot {
  
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}



.container-fluid{
  padding: 0 !important;
}

.table {
    /* width: 100%;
    margin-bottom: 1rem;
    color: #212529; */
    border-collapse: separate;
    border-spacing: 0 3px;
}
